@import 'variables';

a {
  text-decoration: none;
  color: inherit;
}

body {
  font-family: 'Lato', sans-serif;
  color: #fff;
  background-color: $primaryBgColor;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 400;
  color: inherit;
}

h1 {
  font-size: 1.5rem;
  color: #fff;
}

h3 {
  font-size: 1.5rem;
}

main {
  margin-left: $sidebarWidth;
  padding: $gridGap;
  min-height: calc(100vh - 2 * #{$headerHeight});

  h2 {
    text-align: center;
  }
}