@mixin flexBox($justifyContent: center, $alignItems: stretch, $flexDirection: row) {
  display: flex;
  justify-content: $justifyContent;
  align-items: $alignItems;
  flex-direction: $flexDirection;
}