@charset "UTF-8";
a {
  text-decoration: none;
  color: inherit;
}

body {
  font-family: "Lato", sans-serif;
  color: #fff;
  background-color: #3a3a3a;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 400;
  color: inherit;
}

h1 {
  font-size: 1.5rem;
  color: #fff;
}

h3 {
  font-size: 1.5rem;
}

main {
  margin-left: 70px;
  padding: 20px;
  min-height: calc(100vh - 2 * 55px);
}
main h2 {
  text-align: center;
}

.icon-right-open {
  content: "";
  color: #ffffff96;
}

.icon-open-arrows {
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 55px;
  transition: all 200ms ease;
}
.icon-open-arrows .icon-right-open {
  color: #ffffff96;
}
.icon-open-arrows .icon-right-open:nth-child(2) {
  margin-left: -0.2em;
}

.icon-right-open, .icon-flag, .icon-globe {
  font-size: 1.4rem;
}

.sidebar .icon-globe, .sidebar .icon-flag {
  width: 70px;
  display: flex;
  justify-content: center;
}

*, *:after, *:before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.sidebar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-direction: column;
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
  width: 70px;
  height: 100vh;
  transition: width 200ms linear;
  background-color: #242424;
}
.sidebar:hover {
  overflow: hidden;
  width: 200px;
  border-right: 1px solid #363636;
}
.sidebar:hover .side-nav {
  width: 200px;
}
.sidebar:hover .side-nav .vertical-list__text {
  display: inline;
}
.sidebar:hover .icon-open-arrows {
  -webkit-transform: rotate(-180deg);
  -ms-transform: rotate(-180deg);
  transform: rotate(-180deg);
}
.sidebar:hover .icon-open-arrows .icon-right-open {
  color: #fff;
}

.header {
  justify-content: center;
  align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  height: 55px;
  color: #ffffff96;
  background-color: #242424;
  box-shadow: 0 1px 1px 0 rgba(65, 65, 65, 0.8);
  position: sticky;
  top: 0;
  left: 0;
  z-index: 100;
}

.vertical-list {
  list-style: none;
  width: 100%;
  background-color: #242424;
}
.vertical-list__item {
  height: 70px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  align-items: center;
}
.vertical-list__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  align-items: center;
  color: #ffffff96;
  height: 100%;
  width: 100%;
  transition: all 100ms ease-in-out;
}
.vertical-list__link:hover {
  color: #fff;
  background-color: #323232;
}
.vertical-list__text {
  display: none;
}

.nav {
  display: none;
}
.nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  list-style: none;
}
.nav__list-item {
  margin-left: 1em;
}
.nav__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  align-items: center;
  height: 100%;
  transition: all 100ms ease-in-out;
  color: #ffffff96;
}
.nav__link:hover {
  color: #fff;
}

.nav-mobile {
  position: absolute;
  width: calc(100% - 70px);
  left: 70px;
  top: 100%;
}
.nav-mobile .vertical-list {
  max-height: 0;
  overflow: hidden;
  transition: max-height 500ms linear;
  border-bottom: 1px solid #363636;
}
.nav-mobile .vertical-list--active {
  max-height: 300px;
}
.nav-mobile .vertical-list__link {
  justify-content: center;
}

.container {
  width: 1700px;
  max-width: calc(100% - 2 * 70px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.stats {
  -ms-display: grid;
  display: grid;
  grid-auto-rows: auto;
  grid-template-columns: 1fr;
  grid-gap: 20px;
  grid-template-areas: "card4" "card5" "card6";
}

.card {
  min-width: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-direction: column;
  padding: 2.15em;
  border-radius: 7px;
  font-size: 0.95rem;
  background-color: #242424;
}
.card__1 {
  grid-area: card1;
}
.card__2 {
  grid-area: card2;
}
.card__3 {
  grid-area: card3;
}
.card--4 {
  grid-area: card4;
}
.card--5 {
  padding: 0;
  grid-area: card5;
}
.card--6 {
  grid-area: card6;
}
.card__heading {
  margin-bottom: 1em;
  text-align: center;
}
.card__footer {
  font-size: 0.75em;
  margin-top: auto;
  text-align: center;
  color: #a9a9a9;
}

.desc-list {
  font-size: 1em;
  -ms-display: grid;
  display: grid;
  grid-auto-rows: 1fr;
  grid-row-gap: 0.5em;
}
.desc-list__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.desc-list__key {
  font-size: 1em;
}
.desc-list__value {
  font-size: 1.5em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  align-items: flex-end;
  flex-direction: column;
}
.desc-list__main-value {
  position: relative;
}
.desc-list__main-value:hover .tooltip {
  visibility: visible;
  opacity: 1;
}
.desc-list__second-value {
  font-size: 0.7em;
  position: relative;
}
.desc-list__second-value:hover .tooltip {
  visibility: visible;
  opacity: 1;
}

.important-text {
  text-align: center;
  color: #c21000;
}
.important-text--large {
  font-size: 2.5rem;
}

#line-chart {
  width: 100%;
  height: 100%;
}

.tooltip {
  font-size: 0.75rem;
  position: absolute;
  bottom: 115%;
  left: 50%;
  display: inline-block;
  visibility: hidden;
  padding: 0.4em 0.9em;
  transition: opacity 100ms ease-in-out;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  text-align: center;
  white-space: nowrap;
  opacity: 0;
  color: #000;
  border-radius: 5px;
  background-color: #c7c7c7;
}
.tooltip::after {
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  content: "";
  border-width: 5px;
  border-style: solid;
  border-color: #c7c7c7 transparent transparent transparent;
}

.hamburger {
  height: 23px;
  width: 30px;
  background-color: #242424;
  border: transparent;
  cursor: pointer;
}
.hamburger__inner {
  display: block;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
}
.hamburger:hover .hamburger__inactive {
  background-color: #fff;
}
.hamburger__inactive {
  background-color: #ffffff96;
  display: block;
  height: 3px;
  width: 100%;
  transition: background-color 100ms ease-in-out;
}
.hamburger__inactive::before {
  background-color: inherit;
  content: "";
  display: block;
  height: 3px;
  width: 100%;
  -webkit-transform: translateY(10px);
  -ms-transform: translateY(10px);
  transform: translateY(10px);
}
.hamburger__inactive::after {
  background-color: inherit;
  content: "";
  display: block;
  height: 3px;
  width: 100%;
  -webkit-transform: translateY(17px);
  -ms-transform: translateY(17px);
  transform: translateY(17px);
}
.hamburger__active {
  background-color: #ffffff;
  height: 30px;
  width: 3px;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
.hamburger__active::after {
  background-color: inherit;
  content: "";
  display: block;
  height: 100%;
  -webkit-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg);
}

#donut-chart {
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  justify-content: center;
}

.btn-label {
  margin-top: auto;
}

.theme-btn {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 40px;
  border-radius: 28px;
  background-color: #242424;
  height: 20px;
  border: 1px solid #fff;
  cursor: pointer;
  position: relative;
  margin-bottom: 30px;
  margin-left: 15px;
  transition: all 200ms linear;
}
.theme-btn:checked {
  background-color: #fff;
  border-color: #000;
}
.theme-btn:checked:before {
  right: 22px;
  background-color: #000;
}
.theme-btn:checked:after {
  content: "LIGHT";
}
.theme-btn::before {
  content: "";
  position: absolute;
  top: 2px;
  right: 2px;
  height: 14px;
  width: 14px;
  background-color: #fff;
  border-radius: 50%;
  transition: all 200ms linear;
}
.theme-btn::after {
  position: absolute;
  top: 110%;
  width: 100%;
  text-align: center;
  left: 0;
  content: "DARK";
  color: #fff;
  font-size: 0.7em;
  white-space: nowrap;
}

.footer {
  height: 55px;
  background-color: #242424;
  margin-left: 70px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  justify-content: center;
  align-items: center;
}

.social__list {
  list-style: none;
}
.social__item {
  display: inline-block;
  height: 25px;
  width: 25px;
  margin: 0 0.4em;
}
.social__item:nth-child(1):hover .social__link {
  background-color: #1da1f2;
}
.social__item:nth-child(2):hover .social__link {
  background-color: #c32aa3;
}
.social__item:nth-child(3):hover .social__link {
  background-color: #1877f2;
}
.social__item:nth-child(4):hover .social__link {
  background-color: #6cc644;
}
.social__link {
  display: block;
  height: 100%;
  width: 100%;
  border-radius: 50%;
  color: #242424;
  background-color: #ffffff96;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 200ms cubic-bezier(0.43, 1.5, 1, 1);
}
.social__link:hover {
  transform: translateY(-5px);
  color: #fff;
}

/*Small devices (landscape phones, 576px and up)*/
/*Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) {
  .stats {
    grid-template-rows: 200px 200px auto auto;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "card4 card1" "card2 card3" "card5 card5" "card6 card6";
  }
}
/*Large devices (desktops, 992px and up)*/
@media (min-width: 992px) {
  .nav-mobile {
    display: none;
  }
  .nav-mobile .vertical-list {
    max-height: 0;
  }

  .nav {
    display: block;
  }

  .hamburger {
    display: none;
  }
}
/*Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) {
  .stats {
    grid-template-rows: 200px auto;
    grid-template-columns: repeat(3, minmax(calc(600px / 3), 1fr)) minmax(400px, 500px);
    grid-template-areas: "card1 card2 card3 card4" "card5 card5 card5 card6";
  }
}

/*# sourceMappingURL=style.css.map */
