@use 'scss-partials/mixins';
@use 'scss-partials/variables';
@use 'scss-partials/clean-tags';
@use 'scss-partials/fontello';

*, *:after, *:before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.aside {
  @include mixins.prefix(display, flex);
  flex-direction: column;
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
  width: variables.$sidebarWidth;
  height: 100vh;
  transition: width variables.$mediumAnimation linear;
  background-color: variables.$primaryColor;

  &:hover {
    overflow: hidden;
    width: 200px;
    border-right: 1px solid #363636;

    .side-nav {
      width: 200px; // Same as parent div

      .vertical-list__text {
        display: inline;
      }
    }

    .icon-open-arrows {
      @include mixins.prefix(transform, rotate(-180deg), webkit ms);

      .icon-right-open {
        color: #fff;
      }
    }
  }
}

.header {
  @include mixins.flexCentered;
  @include mixins.prefix(display, flex);
  height: variables.$headerHeight;
  color: variables.$primaryFontColor;
  background-color: variables.$primaryColor;
  box-shadow: 0 1px 1px 0 rgba(65,65,65,0.8);
  position: sticky;
  top: 0;
  left: 0;
  z-index: 100;
}

.vertical-list {
  list-style: none;
  width: 100%;
  background-color: variables.$primaryColor;

  &__item {
    height: variables.$sidebarWidth;
    @include mixins.prefix(display, flex);
    align-items: center;
  }

  &__link {
    @include mixins.prefix(display, flex);
    align-items: center;
    color: variables.$primaryFontColor;
    height: 100%;
    width: 100%;
    transition: all variables.$shortAnimation ease-in-out;

    &:hover {
      color: #fff;
      background-color: variables.$primaryColorHover;
    }
  }

  &__text {
    display: none;
  }
}

.nav {
  display: none;

  &__list {
    @include mixins.prefix(display, flex);
    list-style: none;

    &-item {
      margin-left: 1em;
    }
  }

  &__link {
    @include mixins.prefix(display, flex);
    align-items: center;
    height: 100%;
    transition: all variables.$shortAnimation ease-in-out;
    color: variables.$primaryFontColor;

    &:hover {
      color: #fff;
    }
  }
}

.nav-mobile {
  position: absolute;
  width: calc(100% - #{variables.$sidebarWidth});
  left: variables.$sidebarWidth;
  top: 100%;

  .vertical-list {
    max-height: 0;
    overflow: hidden;
    transition: max-height variables.$longAnimation linear;
    border-bottom: 1px solid #363636;

    &--active {
      max-height: 300px; // Must be higher than the exact height of the list
    }
  }

  // Text inside the anchor should be centered only in main navbar for mobile
  .vertical-list__link {
    justify-content: center;
  }
}

.container {
  width: 1700px;
  max-width: calc(100% - 2 * #{variables.$sidebarWidth});
  @include mixins.prefix(display, flex);
  justify-content: space-between;
  align-items: center;
}

.stats {
  @include mixins.prefix(display, grid, ms);
  grid-auto-rows: auto;
  grid-template-columns: 1fr;
  grid-gap: variables.$gridGap;
  grid-template-areas:
  'card4'
  'card1'
  'card2'
  'card3'
  'card5'
  'card6';
}

.card {
  @include mixins.prefix(display, flex);
  flex-direction: column;
  padding: 2.15em;
  border-radius: 7px;
  font-size: .95rem;
  background-color: variables.$primaryColor;

  &__1 {
    grid-area: card1;
  }
  &__2 {
    grid-area: card2;
  }
  &__3 {
    grid-area: card3;
  }
  &--4 {
    grid-area: card4;
  }
  &--5 {
    padding: 0;
    // Padding for the chart
    grid-area: card5;
  }
  &--6 {
    grid-area: card6;
  }

  &__header {
    margin-bottom: 1em;
    text-align: center;
  }

  &__footer {
    font-size: .75em;
    margin-top: auto;
    text-align: center;
    color: #a9a9a9;
  }
}

.desc-list {
  font-size: 1em;
  @include mixins.prefix(display, flex);
  flex-direction: column;

  &__row {
    @include mixins.prefix(display, flex);
    align-items: center;
    justify-content: space-between;
    margin: .3em 0;

    // Last row contains info without daily statistics
    // Must be the same height as the rest
    &:last-child .desc-list__value {
      position: relative;

      .desc-list__main-value {
        position: absolute;
        @include mixins.prefix(display, flex);
        align-items: center;
        height: 100%;
      }
    }
  }

  &__key {
    font-size: 1em;
  }

  &__value {
    font-size: 1.5em;
    @include mixins.prefix(display, flex);
    align-items: flex-end;
    flex-direction: column;
  }

  &__main-value {
    position: relative;

    &:hover {
      .tooltip {
        visibility: visible;
        opacity: 1;
      }
    }
  }

  &__second-value {
    font-size: .7em;
    position: relative;

    &:hover {
      .tooltip {
        visibility: visible;
        opacity: 1;
      }
    }
  }
}

.important-text {
  text-align: center;
  color: #c21000;

  &--large {
    font-size: 2.5rem;
  }
}

#line-chart {
  width: 100%;
  height: 100%;
}

.tooltip {
  font-size: 0.75rem;
  position: absolute;
  bottom: 100%;
  left: 50%;
  display: inline-block;
  visibility: hidden;
  padding: .4em 0.9em;
  transition: opacity variables.$shortAnimation ease-in-out;
  @include mixins.prefix(transform, translateX(-50%), webkit ms);
  text-align: center;
  white-space: nowrap;
  opacity: 0;
  color: #000;
  border-radius: 5px;
  background-color: rgb(199, 199, 199);

  &::after {
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    content: "";
    border-width: 5px;
    border-style: solid;
    border-color: rgb(199, 199, 199) transparent transparent transparent;
  }
}

.hamburger {
  height: 23px;
  width: 30px;
  background-color: variables.$primaryColor;
  border: transparent;
  cursor: pointer;

  &__inner {
    display: block;
    height: 100%;
    @include mixins.prefix(display, flex);
    justify-content: space-between;
    flex-direction: column;
  }

  &:hover .hamburger__inactive {
    background-color: #fff;
  }

  &__inactive {
      background-color: variables.$primaryFontColor;
      display: block;
      height: 3px;
      width: 100%;
      transition: background-color variables.$shortAnimation ease-in-out;
    &::before {
      background-color: inherit;
      content: '';
      display: block;
      height: 3px;
      width: 100%;
      @include mixins.prefix(transform, translateY(10px), webkit ms);
    }
    &::after {
      background-color: inherit;
      content: '';
      display: block;
      height: 3px;
      width: 100%;
      @include mixins.prefix(transform, translateY(17px), webkit ms);
    }
  }

  &__active {
    background-color: #ffffff;
    @include mixins.prefix(transform, rotate(45deg), webkit ms);
    transform-origin: top left;
    &::after {
      background-color: inherit;
      content: '';
      display: block;
      height: 3px;
      @include mixins.prefix(transform, rotate(90deg), webkit ms);
    }
  }
}

#donut-chart {
  @include mixins.prefix(display, flex);
  justify-content: center;
}

.btn-label {
  margin-top: auto;
}

.theme-btn {
  @include mixins.prefix(appearance, none, webkit moz);
  width: 40px;
  border-radius: 28px;
  background-color: variables.$primaryColor;
  height: 20px;
  border: 1px solid #fff;
  cursor: pointer;
  position: relative;
  margin-bottom: 30px;
  margin-left: (variables.$sidebarWidth - 40px) / 2;
  transition: all variables.$mediumAnimation linear;

  &:checked {
    background-color: #fff;
    border-color: #000;

    &:before {
      right: 40px - 14px - 2 * 2px;
      background-color: #000;
    }
    &:after {
      content: 'LIGHT';
    }
  }

  &::before {
    content: '';
    position: absolute;
    top: 2px;
    right: 2px;
    height: 14px;
    width: 14px;
    background-color: #fff;
    border-radius: 50%;
    transition: all variables.$mediumAnimation linear;
  }

  &::after {
    position: absolute;
    top: 110%;
    width: 100%;
    text-align: center;
    left: 0;
    content: 'DARK';
    color: #fff;
    font-size: .7em;
    white-space: nowrap;
  }
}

.footer {
  height: variables.$headerHeight;
  background-color: variables.$primaryColor;
  margin-left: variables.$sidebarWidth;
  @include mixins.prefix(display, flex);
  @include mixins.flexCentered;
}

.social {
  &__list {
    list-style: none;
  }

  &__item {
    display: inline-block;
    height: 25px;
    width: 25px;
    margin: 0 .4em;

    // Each social media has it own color
    &:nth-child(1):hover .social__link {
      background-color: #1da1f2;
    }
    &:nth-child(2):hover .social__link {
      background-color: #c32aa3;
    }
    &:nth-child(3):hover .social__link {
      background-color: #1877f2;
    }
    &:nth-child(4):hover .social__link {
      background-color: #6cc644;
    }
  }

  &__link {
    display: block;
    height: 100%;
    width: 100%;
    border-radius: 50%;
    color: variables.$primaryColor;
    background-color: variables.$primaryFontColor;
    @include mixins.prefix(display, flex);
    @include mixins.flexCentered;
    transition: all variables.$mediumAnimation cubic-bezier(.43,1.5,1,1);

    &:hover {
      transform: translateY(-5px);
      color: #fff;
    }
  }
}

@import 'scss-partials/media-query';
