@import 'mixins';
@import 'clear-tags';
@import 'variables';
@import 'fontello';

*, *:after, *:before {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.aside {
  width: $sidebarWidth;
  background-color: $primaryColor;
  position: fixed;
  height: 100vh;
  left: 0;
  top: 0;
  box-shadow: 1px 1px 1px 0 rgba(65,65,65,0.8);
  -webkit-box-shadow: 1px 1px 1px 0 rgba(65,65,65,0.8);
  -moz-box-shadow: 1px 1px 1px 0 rgba(65,65,65,0.8);
  transition: width $mediumAnimation linear;

  .nav__text {
    transition: opacity 3s ease;
  }

  &:hover {
    width: 200px;
    overflow: hidden;

    .nav {
      width: 200px; // Same as parent div
    }

    .nav__text {
      display: inline;
    }

    .icon-open-arrows {
      transform: rotate(-180deg);

      .icon-right-open {
        color: #fff;
      }
    }
  }
}

main {
  background-color: #f0f0f070;
  margin-left: $sidebarWidth;
}

.header {
  @include flexCentered;
  background-color: $primaryColor;
  color: $primaryFontColor;
  height: $headerHeight;
  box-shadow: 0 1px 1px 0 rgba(65,65,65,0.8);
  -webkit-box-shadow: 0 1px 1px 0 rgba(65,65,65,0.8);
  -moz-box-shadow: 0 1px 1px 0 rgba(65,65,65,0.8);
}

.nav {
  height: 100%;

  &__list {
    list-style: none;
    display: flex;

    &--vertical {
      flex-direction: column;

      .nav__list-item {
        width: 100%;
        height: $sidebarWidth;
        margin-left: 0;
        transition: all $shortAnimation ease-in-out;
        color: $primaryFontColor;

        &:hover {
          background-color: $primaryColorHover;
        }
      }
    }

    &-item {
      margin-left: 1em;
    }
  }

  &__link {
    color: $primaryFontColor;
    transition: all $shortAnimation ease-in-out;
    height: 100%;
    display: flex;
    align-items: center;

    &:hover {
      color: #fff;
    }
  }

  &__text {
    display: none;
  }
}

.container {
  width: 1700px;
  max-width: 90%;
  @include flexCentered(space-between);
}