@import 'mixins';
@import 'clear-tags';
@import 'variables';
@import 'fontello';

*, *:after, *:before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.aside {
  position: fixed;
  top: 0;
  left: 0;
  width: $sidebarWidth;
  height: 100vh;
  transition: width $mediumAnimation linear;
  background-color: $primaryColor;
  -moz-box-shadow: 1px 1px 1px 0 rgba(65,65,65,0.8);
  -webkit-box-shadow: 1px 1px 1px 0 rgba(65,65,65,0.8);
  box-shadow: 1px 1px 1px 0 rgba(65,65,65,0.8);

  .nav__text {
    transition: opacity 3s ease;
  }

  &:hover {
    overflow: hidden;
    width: 200px;

    .nav {
      width: 200px; // Same as parent div
    }

    .nav__text {
      display: inline;
    }

    .icon-open-arrows {
      transform: rotate(-180deg);

      .icon-right-open {
        color: #fff;
      }
    }
  }
}

.header {
  @include flexCentered;
  height: $headerHeight;
  color: $primaryFontColor;
  background-color: $primaryColor;
  -moz-box-shadow: 0 1px 1px 0 rgba(65,65,65,0.8);
  -webkit-box-shadow: 0 1px 1px 0 rgba(65,65,65,0.8);
  box-shadow: 0 1px 1px 0 rgba(65,65,65,0.8);
}

.nav {
  height: 100%;

  &__list {
    display: flex;
    list-style: none;

    &--vertical {
      flex-direction: column;

      .nav__list-item {
        width: 100%;
        height: $sidebarWidth;
        margin-left: 0;
        transition: all $shortAnimation ease-in-out;
        color: $primaryFontColor;

        &:hover {
          background-color: $primaryColorHover;
        }
      }
    }

    &-item {
      margin-left: 1em;
    }
  }

  &__link {
    display: flex;
    align-items: center;
    height: 100%;
    transition: all $shortAnimation ease-in-out;
    color: $primaryFontColor;

    &:hover {
      color: #fff;
    }
  }

  &__text {
    display: none;
  }
}

.container {
  width: 1700px;
  max-width: 90%;
  @include flexCentered(space-between);
}

.card {
  height: 600px;
  border: #d9d9d9 1px solid;
  border-radius: 7px;
  background-color: #fff;
  padding: 2.5em;

  &--large {
    flex: 1;
    min-width: 600px;
  }

  &--medium {
    min-width: 500px;
  }

  &__header {
    text-align: center;
  }
}

.stats {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;

  .card--medium {
    margin-left: 1.5em;
  }
}

.heading {
  &--large {
    font-size: 3rem;
    color: #202020;
  }
}

.desc-list {
  font-size: 1.2rem;
  display: flex;
  flex-direction: column;

  &__row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: .75em 0;
  }

  &__key {
    font-size: 1em;
  }

  &__value {
    font-size: 1.5em;
  }
}