// Colors
//$primaryColor: #414141;
$primaryColor: #242424;
$primaryColorHover: #323232;
$primaryFontColor: #ffffff96;

// Critical blocks size
$headerHeight: 55px;
$sidebarWidth: 70px;

// Animations duration
$shortAnimation: 100ms;
$mediumAnimation: 200ms;
