// Colors
$primaryColor: #242424;
$primaryColorHover: #323232;
$primaryFontColor: #ffffff96;
$primaryBgColor: #3a3a3a;

// Critical blocks size
$headerHeight: 55px;
$sidebarWidth: 70px;

// Animations duration
$shortAnimation: 100ms;
$mediumAnimation: 200ms;
$longAnimation: 500ms;

// Other
$gridGap: 20px;
