@charset "UTF-8";

 
.icon-flag:before { content: '\2691'; } /* '⚑' */
.icon-right-open:before { content: '\e75e'; } /* '' */
.icon-twitter:before { content: '\f099'; } /* '' */
.icon-facebook:before { content: '\f09a'; } /* '' */
.icon-github-circled:before { content: '\f09b'; } /* '' */
.icon-instagram:before { content: '\f16d'; } /* '' */
.icon-globe:before { content: '🌎'; } /* '\1f30e' */