<aside class="sidebar">
    <div class="icon-open-arrows">
        <i class="icon-right-open"></i>
        <i class="icon-right-open"></i>
    </div>
    <nav class="side-nav">
        <ul class="vertical-list">
            <li class="vertical-list__item">
                <a class="vertical-list__link" href="home.html">
                    <i class="icon-globe"></i>
                    <span class="vertical-list__text">GLOBAL</span>
                </a>
            </li>
            <li class="vertical-list__item">
                <a class="vertical-list__link" href="country.html">
                    <i class="icon-flag"></i>
                    <span class="vertical-list__text">COUNTRY</span>
                </a>
            </li>
        </ul>
    </nav>
    <label class="btn-label">
        <input type="checkbox" class="theme-btn">
    </label>
</aside>