<footer class="footer">
    <section class="social">
        <ul class="social__list">
            <li class="social__item">
                <a href="#" class="social__link" title="Covid-19 tracker Twitter account"><i class="icon-twitter"></i></a>
            </li>
            <li class="social__item">
                <a href="#" class="social__link" title="Covid-19 tracker Instagram account"><i class="icon-instagram"></i></a>
            </li>
            <li class="social__item">
                <a href="#" class="social__link" title="Covid-19 tracker Facebook account"><i class="icon-facebook"></i></a>
            </li>
            <li class="social__item">
                <a href="#" class="social__link" title="Covid-19 tracker Github account"><i class="icon-github-circled"></i></a>
            </li>
        </ul>
    </section>
    <label class="btn-label btn-label--mobile">
        <input type="checkbox" class="theme-btn">
    </label>
</footer>