<header class="header">
    <div class="container">
        <h1>
            <a href="home.html">COVID-19 Tracker</a>
        </h1>
        <nav class="nav">
            <ul class="nav__list">
                <li class="nav__list-item">
                    <a class="nav__link" href="#">Data source</a>
                </li>
                <li class="nav__list-item">
                    <a class="nav__link" href="#">About COVID-19</a>
                </li>
                <li class="nav__list-item">
                    <a class="nav__link" href="#">About us</a>
                </li>
                <li class="nav__list-item">
                    <a class="nav__link" href="#">Contact</a>
                </li>
            </ul>
        </nav>
        <button class="hamburger">
            <span class="hamburger__inner">
                <span class="hamburger__inactive"></span>
            </span>
        </button>
        <nav class="nav-mobile">
            <ul class="vertical-list">
                <li class="vertical-list__item">
                    <a class="vertical-list__link" href="#">Data source</a>
                </li>
                <li class="vertical-list__item">
                    <a class="vertical-list__link" href="#">About COVID-19</a>
                </li>
                <li class="vertical-list__item">
                    <a class="vertical-list__link" href="#">About us</a>
                </li>
                <li class="vertical-list__item">
                    <a class="vertical-list__link" href="#">Contact</a>
                </li>
            </ul>
        </nav>
    </div>
</header>