@use 'variables';

a {
  text-decoration: none;
  color: inherit;
}

body {
  font-family: 'Lato', sans-serif;
  color: #fff;
  background-color: variables.$primaryBgColor;
  overflow-x: hidden;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 400;
  color: inherit;
}

h1 {
  font-size: 1.5rem;
  color: #fff;
}

h3 {
  font-size: 1.5rem;
}

main {
  margin-left: variables.$sidebarWidth;
  padding: variables.$gridGap;
  min-height: calc(100vh - 2 * #{variables.$headerHeight});
}

textarea {
  resize: none;
  font-family: inherit;
  font-size: inherit;
}