@use 'variables';
@use 'mixins';

.icon-right-open {
  content: '\e75e';
  color: variables.$primaryFontColor;
}

.icon-open-arrows {
  @include mixins.prefix(display, flex);
  @include mixins.flexCentered;
  height: variables.$headerHeight;

  .icon-right-open {
    color: variables.$primaryFontColor;
  }

  .icon-right-open:nth-child(2) {
    margin-left: -.2em;
  }

  transition: all variables.$mediumAnimation ease;
}

.icon-right-open, .icon-flag, .icon-globe {
  font-size: 1.4rem;
}

.sidebar {
  .icon-globe, .icon-flag {
    width: variables.$sidebarWidth;
    display: flex;
    justify-content: center;
  }
}
