/*Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) {

}

/*Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) {
  .grid {
    grid-template-rows: 200px 200px auto auto;
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
      'card4 card1'
      'card2 card3'
      'card5 card5'
      'card6 card6';
  }
}

/*Large devices (desktops, 992px and up)*/
@media (min-width: 992px) {
  .nav-mobile {
    display: none;
    .vertical-list {
      max-height: 0;
    }
  }
  .nav {
    display: block;
  }
  .hamburger {
    display: none;
  }
}

/*Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) {
  .grid {
    grid-template-rows: 200px auto;
    grid-template-columns: repeat(3, minmax(calc(600px / 3), 1fr)) minmax(400px, 500px);
    grid-template-areas:
    'card1 card2 card3 card4'
    'card5 card5 card5 card6';
  }
}