{% set title = "About" %}

{% extends "base.njk" %}
{% block head %}
{% endblock %}

{% block main %}
<main>
    <section class="about">
        <h2 class="heading-h2">About</h2>
        <div class="row">
            <div class="row__cell">
                <p class="mb-1em">
                    We provide COVID-19 data for free.
                    We have gathered some reliable sources to learn more about COVID for you.
                    Check the sources <a class="link" href="#" title="Our subpage with sources">here</a>.
                </p>
                <p class="mb-1em">If you have any suggestions, do not hesitate to contact us.</p>
            </div>
            <div class="space"></div>
            <form class="row__cell contact">
                <label for="name">Name</label>
                <input class="contact__input" type="text" id="name" name="name" required minlength="3">
                <label for="email">Email</label>
                <input class="contact__input" type="email" id="email" name="email" required minlength="3" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$">
                <label for="subject">Subject</label>
                <input class="contact__input" type="text" id="subject" name="subject" required minlength="3">
                <label for="message">Message</label>
                <textarea class="contact__input contact__input--large" id="message" name="message" placeholder="Write a message..." required minlength="5"></textarea>
                <input class="btn contact__submit" type="submit" value="Send">
            </form>
        </div>
    </section>
</main>
{% endblock %}

{% block script %}
{% endblock %}