{% set title = "Country statistics" %}

{% extends "base.njk" %}
{% block head %}
<script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
<script src="https://www.gstatic.com/charts/loader.js"></script>
{% endblock %}

{% block main %}
<main class="grid grid--country">
    <div class="card card--7">
        <label for="all-countries-list">
            Choose a country
        </label>
        <input list="all-countries" name="all-countries-list" id="all-countries-list">

        <datalist id="all-countries"></datalist>
    </div>

    <div class="card card--8">
        <h3 class="card__heading">
            New cases today:
        </h3>
        <strong class="important-text important-text--large" id="new_confirmed_important">
            + 123 456
        </strong>
    </div>

    <div class="card card--9">
        <figure id="line-chart">
            <!-- Contains a timeline with covid cases for a specific country -->
        </figure>
    </div>

    <section class="card card--10" id="country-details">
        <h3 class="card__heading">Details</h3>
        <div class="card__body">
            <dl class="desc-list">
                <div class="desc-list__row">
                    <dt class="desc-list__key">Total</dt>
                    <dd class="desc-list__value">
                        <p class="desc-list__main-value">
                            <span class="tooltip">Total from the beginning to now</span>
                            <span id="confirmed"></span>
                        </p>
                        <p class="desc-list__second-value">
                            <span class="tooltip">New daily cases</span>
                            <span id="new_confirmed"></span>
                        </p>
                    </dd>
                </div>
                <div class="desc-list__row">
                    <dt class="desc-list__key">Recovered</dt>
                    <dd class="desc-list__value">
                        <p class="desc-list__main-value">
                            <span class="tooltip">Recovered from the beginning to now</span>
                            <span id="recovered"></span>
                        </p>
                        <p class="desc-list__second-value">
                            <span class="tooltip">New daily recovered</span>
                            <span id="new_recovered"></span>
                        </p>
                    </dd>
                </div>
                <div class="desc-list__row">
                    <dt class="desc-list__key">Deaths</dt>
                    <dd class="desc-list__value">
                        <p class="desc-list__main-value">
                            <span class="tooltip">Deaths from the beginning to now</span>
                            <span id="deaths"></span>
                        </p>
                        <p class="desc-list__second-value">
                            <span class="tooltip">New daily deaths</span>
                            <span id="new_deaths"></span>
                        </p>
                    </dd>
                </div>
                <div class="desc-list__row">
                    <dt class="desc-list__key">Active</dt>
                    <dd class="desc-list__value">
                        <p class="desc-list__main-value">
                            <span class="tooltip">Current number of infected people</span>
                            <span id="active"></span>
                        </p>
                    </dd>
                </div>
            </dl>
            <div id="donut-chart">
                <!-- Contains a chart with covid cases for a specific country -->
            </div>
        </div>
        <footer class="card__footer">
            <p>Last updated at <time datetime="2020-02-03 20:00" id="last-update">2020-02-03, 20:00</time></p>
        </footer>
    </section>

    <div class="card card--11">
        Lorem ipsum
    </div>

    <div class="card card--12">
        Lorem ipsum
    </div>

    <div class="card card--13">
        Lorem ipsum
    </div>
</main>
{% endblock %}

{% block script %}
<script src="js/country.js"></script>
{% endblock %}