{% set title = "Home" %}

{% extends "base.njk" %}
{% block head %}
<script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
<script src="https://www.gstatic.com/charts/loader.js"></script>
{% endblock %}

{% block main %}
<main>
    <div class="grid">
        <div class="card card--1" id="daily-cases-record">
            <h3 class="card__heading">Daily cases record</h3>
            <div class="card__body">
                <div class="calendar-sheet">
                    <time datetime="1970-01" class="calendar-sheet__month">January</time>
                    <time datetime="1970-01-01" class="calendar-sheet__day">1</time>
                    <time datetime="1970" class="calendar-sheet__year">1970</time>
                </div>
                <b class="card__important"></b>
            </div>
        </div>
        <div class="card card--2" id="death-rate-record">
            <h3 class="card__heading">Highest mortality</h3>
            <div class="card__body">
                <div class="calendar-sheet">
                    <time datetime="1970-01" class="calendar-sheet__month">January</time>
                    <time datetime="1970-01-01" class="calendar-sheet__day">1</time>
                    <time datetime="1970" class="calendar-sheet__year">1970</time>
                </div>
                <b class="card__important"></b>
            </div>
        </div>
        <div class="card card--3" id="most-recovered-record">
            <h3 class="card__heading">Most recovered</h3>
            <div class="card__body">
                <div class="calendar-sheet">
                    <time datetime="1970-01" class="calendar-sheet__month">January</time>
                    <time datetime="1970-01-01" class="calendar-sheet__day">1</time>
                    <time datetime="1970" class="calendar-sheet__year">1970</time>
                </div>
                <b class="card__important"></b>
            </div>
        </div>
        <article class="card card--4">
            <h3 class="card__heading">New cases today:</h3>
            <strong class="important-text important-text--large" id="new_confirmed_important">+ 123 456</strong>
        </article>
        <div class="card card--5">
            <figure id="line-chart">
                <!-- Contains a timline with covid cases -->
            </figure>
        </div>
        <section class="card card--6">
            <h3 class="card__heading">Details</h3>
            <div class="card__body">
                <dl class="desc-list">
                    <div class="desc-list__row" id="confirmed">
                        <dt class="desc-list__key">Total</dt>
                        <dd class="desc-list__value">
                            <p class="desc-list__main-value">
                                <span class="tooltip">Total from the beginning to now</span>
                            </p>
                            <p class="desc-list__second-value" id="new_confirmed">
                                <span class="tooltip">New daily cases</span>
                            </p>
                        </dd>
                    </div>
                    <div class="desc-list__row" id="recovered">
                        <dt class="desc-list__key">Recovered</dt>
                        <dd class="desc-list__value">
                            <p class="desc-list__main-value">
                                <span class="tooltip">Recovered from the beginning to now</span>
                            </p>
                            <p class="desc-list__second-value" id="new_recovered">
                                <span class="tooltip">New daily recovered</span>
                            </p>
                        </dd>
                    </div>
                    <div class="desc-list__row" id="deaths">
                        <dt class="desc-list__key">Deaths</dt>
                        <dd class="desc-list__value">
                            <p class="desc-list__main-value">
                                <span class="tooltip">Deaths from the beginning to now</span>
                            </p>
                            <p class="desc-list__second-value" id="new_deaths">
                                <span class="tooltip">New daily deaths</span>
                            </p>
                        </dd>
                    </div>
                    <div class="desc-list__row" id="active">
                        <dt class="desc-list__key">Active</dt>
                        <dd class="desc-list__value">
                            <p class="desc-list__main-value">
                                <span class="tooltip">Current number of affected people</span>
                            </p>
                        </dd>
                    </div>
                </dl>
                <div id="donut-chart">
                    <!-- Contains a chart with covid cases -->
                </div>
            </div>
            <footer class="card__footer">
                <p>Last updated at <time datetime="2020-02-03 20:00" id="last-update">2020-02-03, 20:00</time></p>
            </footer>
        </section>
    </div>
</main>
{% endblock %}

{% block script %}
<script src="js/home.js"></script>
{% endblock %}